<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

  <div id="all"> 

    <header>

      {{ partial "nav.html" . }}

    </header>

    <div id="content">
      <div class="container">
        <div class="row">

            <div class="col-sm-10 col-sm-offset-1">
              <p id="home-intro">
                Click on Blog to read about software development, open-source projects and online privacy. Click on Art to view beautiful genertive art. 
              </p>

              <div class="row">
                <div class="col-xs-6 btn-home-wrapper">
                  <a class="btn btn-default btn-home" href="{{ .Site.BaseURL }}/blog">Blog</a>
                </div>
                <div class="col-xs-6 btn-home-wrapper">
                    <a class="btn btn-default btn-home" href="{{ .Site.BaseURL }}/art">Art</a>
                  </div>
              </div>
            </div>

            <div class="col-xs-12">
            <hr/>
            </div>
          <div class="col-xs-12" id="blog-listing-medium">


            <div class="row">
              <div class="col-sm-6 col-md-5">
                <div class="panel panel-default sidebar-menu">
                <div class="panel-heading text-center">
                  <h3 class="panel-title hidden-sm hidden-md hidden-lg">Recent posts</h3>
                </div>
              </div>
                {{ range first 3 (where .Site.RegularPages "Type" "blog") }}
                <section class="post">
                  <div class="row">
                    <div class="col-xs-3">
                      <div class="image">
                        <a href="{{ .Permalink }}">
                          {{ if .Params.banner }}
                          <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }}">
                          {{ end }}
                        </a>
                      </div>
                    </div>
                    <div class="col-xs-9">
                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <div class="clearfix">
                      </div>
                      
                      <div class="intro">{{ .Description }}</div>
                    </div>
                  </div>
                </section>
                {{ end }}

              </div>

              <div class="col-sm-6 col-md-5 col-md-offset-2">
                  <div class="panel panel-default sidebar-menu">
                      <div class="panel-heading text-center">
                        <h3 class="panel-title hidden-sm hidden-md hidden-lg">Recent art</h3>
                      </div>
                    </div>
                {{ range first 3 (where .Site.RegularPages "Type" "art") }}
                <section class="post">
                  <div class="row">
                    <div id="home-art-post" class="col-xs-12">
                      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                      <div class="clearfix">
                      </div>
                      <div class="image">
                        <a href="{{ .Permalink }}">
                          {{ if .Params.banner }}
                          <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="{{ .Title }}">
                          {{ end }}
                        </a>
                      </div>
                    </div>
                  </div>
                </section>
                {{ end }}

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}

  </div>

  {{ partial "scripts.html" . }}

</body>

</html>